<!DOCTYPE html>
<html lang="en">
<head>
  <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="{{ static_url('js/jquery.min.js') }}"></script>
  <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
  <!--    <link rel="stylesheet" src="{{ static_url('css/bootstrap.min.css') }}">-->
  <script>
  </script>
</head>
<body>
<div id="course-table">
  <table class="table">
    <caption>
      签到课程总览:
    </caption>
    <thead>
    <tr>
      <th> 课程名称</th>
      <th> 是否签到</th>
      <th> 签到链接</th>
    </tr>
    </thead>
    <tbody>
    {% if courses %}
    {% for course in courses %}
    <tr id='{{ course["cid"] }}'>
      <th> {{ course["name"] }}</th>
      <th> {{ course["is_checkin"] }}</th>
      <th>
        <form action="checkin" class="form form-inline" enctype="multipart/form-data" method="post">
          <input class="form-group" name="cid" type="hidden" value="{{course['cid']}}">
          <input accept="image/png, image/jpeg" class="form-group" name="image" type="file" value="Upload">
          <input class="form-group btn btn-primary" type="submit" value="Submit">
        </form>
      </th>
    </tr>
    {% end %}
    {% end %}
    </tbody>
  </table>
</div>

<script>
</script>
</body>
</html>
