<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <!--    <link rel="stylesheet" src="{{ static_url('css/bootstrap.min.css') }}">-->
    <script>
    </script>
</head>
<body>
<div id="course-table">
    <table class="table">
        <caption>
            签到课程总览:
        </caption>
        <thead>
        <tr>
            <th> 课程名称</th>
            <th> 签到时间</th>
            <!--            <th> 已签到人数</th>-->
            <th> 是否签到</th>
            <th> 签到链接</th>
        </tr>
        </thead>
        <tbody>
        {% if courses %}
        {% for course in courses %}
        <tr id='{{ course["cid"] }}'>
            <th> {{ course["name"] }}</th>
            <th> {{ course["time"] }}</th>
            <!--            <th> course["checkin_num"] </th>-->
            <th> {{ course["is_checkin"] }}</th>
            <th>
                <a class="btn btn-primary" course[
                   data-loading-text="Loading..." href="upload?cid={{course['cid']}}" id="checkin-btn" {{"disabled"] }}
                >
                签到
                </a>

            </th>
        </tr>
        {% end %}
        {% end %}
        </tbody>
    </table>
</div>

<script>
</script>
</body>
</html>
