<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css">

  <!-- TODO(Schureed): 1. modifies UI -->
  <!-- TODO(Schureed): 2. filter (name, time span and course combined) -->
</head>
<body>
<div class="record-table">
  <div class="upload">
    <button onclick="window.location.href='/checkin'" style="width: 100%;">Check In</button>
  </div>
  <table class="display" id="myTable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Class</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for record in records %}
    <tr style="color: {{record['color']}}">
      <td>{{record["username"]}}</td>
      <td>{{record["course"]}}</td>
      <td>{{datetime.datetime.strftime(datetime.datetime.fromtimestamp(record["time"]), "%Y-%m-%d %H:%M:%S")}}</td>
    </tr>
    {% end %}
    </tbody>
  </table>

  <form action="addCourse" enctype="multipart/form-data" method="post">
    <div class="title">添加课程</div>
    <b-field label="课程名">
      <b-input value="Kevin Garvey"></b-input>
    </b-field>
    <div class="input">
      <label for="name">课程名</label>
      <input id="name" name="name" type="text">
      <span class="spin"></span>
    </div>
    <button type="submit" value="增加课程">
      <span>增加课程</span>
      <i class="fa fa-check"></i>
    </button>
  </form>
</div>
<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable().order([2, "desc"]).draw();
    });
</script>
</body>
</html>