<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ static_url('css/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/style.css') }}" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ static_url('js/md5.js') }}"></script>
    <script src="{{ static_url('js/index.js') }}"></script>
    <script type="text/javascript">

    </script>
</head>
<body>

<div align="center" class="logo">
    <img height="100px" src="{{ static_url('images/logo.png') }}">
</div>
<div align="center" class="title">
    <img height="80px" src="{{ static_url('images/title.png') }}">
</div>

<div class="materialContainer">
    <div class="box">

        <form action="login" enctype="multipart/form-data" method="post">
            <div class="title">登录</div>
            <div class="input">
                <label for="name">姓名</label>
                <input id="name" name="name" type="text">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="pw_pre_md5">密码</label>
                <input id="pw_pre_md5" name="pw_pre_md5" type="password">
                <span class="spin"></span>
            </div>

            <div>
                <label for="name">身份</label>
                <select name="role">
                    <option value="Admin">管理员</option>
                    <option value="Student">学生</option>
                </select>
                <span class="spin"></span>

            </div>

            <input id="passwd_md5" name="passwd" type="hidden"/>

            <div class="button login">
                <button onclick="md5_pwd()" type="submit" value="Sign in">
                    <span>登录</span>
                    <i class="fa fa-check"></i>
                </button>
            </div>

        </form>
    </div>


    <div class="overbox">
        <div class="material-button alt-2">
            <span class="shape"></span>
        </div>
        <div class="title">注册</div>
        <div class="input">
            <label for="regname">用户名</label>
            <input id="regname" name="regname" type="text">
            <span class="spin"></span>
        </div>
        <div class="input">
            <label for="regpass">密码</label>
            <input id="regpass" name="regpass" type="password">
            <span class="spin"></span>
        </div>
        <div class="input">
            <label for="reregpass">确认密码</label>
            <input id="reregpass" name="reregpass" type="password">
            <span class="spin"></span>
        </div>
        <div class="button">
            <button>
                <span>注册</span>
            </button>
        </div>
    </div>

</div>

<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/index.js') }}"></script>

</body>
</html>
