<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style type="text/css">
        .main
        {
		    background-color: #fff;
		    border-radius: 20px;
		    width: 300px;
		    height: 350px;
		    margin: auto;
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
        }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
</head>
<body>
  <div class="main">
    <form action="login" enctype="multipart/form-data" method="post">
      姓名: <input type="text" name="name">
      <br/>
      身份:
      <select>
      	<option value="Admin">管理员</option>
      	<option value="Student">学生</option>
      </select>
      <br/>
      <input type="submit" value="Sign in">
    </form>
  </div>
<script>
</script>
</body>
</html>
